body {
    background-color: rgba(219, 209, 190, 0.979);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: black;
}

a {
    font-size: medium;
    color: black;
    background-color: #FFECCF;
    border: 2px solid black;
    padding: 2px;
}
header {
    background-color: #FFECCF;
    height: auto;
    text-align: center;
    padding: 20px;
    border: solid black;
    border-width: 2px 2px 0px 2px;
    background-image: url(https://hajikai.github.io/amdvsintel.jpg);
}
/* background-image:url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f20a59c264b07d88cf2b4c1%2FIntel-processor-chips-come-off-the-manufacturing-line-%2F960x0.jpg%3FcropX1%3D0%26cropX2%3D3108%26cropY1%3D289%26cropY2%3D2036"); */
nav {
    background-color: #E4C9A1;
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}
#section {
    background-color: #FFECCF;
    padding: 10px;
    border: solid black;
    border-width: 0px 2px 2px 2px;
}
footer {
    background-color: #E4C9A1;
    padding: 10px;
    border: solid black;
    border-width: 0px 2px 2px 2px;
    text-align: center;
}
.placeholder-img.right {
	margin-right: 0;
}
.placeholder-img.left {
	margin-left: 0;