body {
    background-color: rgba(219, 209, 190, 0.979);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: black;
}

a {
    font-size: medium;
    color: black;
    background-color: #FFECCF;
    border: 2px solid black;
    padding: 2px;
}
.kuva {
    background-color: #FFECCF;
    height: 483px;
    text-align: center;
    padding: 20px;
    border: solid black;
    border-width: 2px 2px 0px 2px;
    background-image: url(https://hajikai.github.io/amdvsintel3.jpg);
}

nav {
    background-color: #E4C9A1;
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}
#section {
    background-color: #FFECCF;
    padding: 10px;
    border: solid black;
    border-width: 0px 2px 2px 2px;
}
footer {
    background-color: #E4C9A1;
    padding: 1px;
    border: solid black;
    border-width: 0px 2px 2px 2px;
    text-align: center;
}
