body {
    background-color: rgb(179, 179, 179);
    color: white;
  }
h1 {
    font-size: 25px;
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
    background-color: thistle;
    text-shadow: 2px 2px gray;
}
h2 {
    font-size: 20px;
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
    background-color: thistle;
    text-shadow: 2px 2px gray;
    padding: 5px;
    width: 30%;
}
p {
    font-size: 12px;
    color: white;
    background-color: thistle;
    border: 2px solid white;
    padding: 5px;
    border-radius: 15px;
    text-shadow: 2px 2px gray;
    width: 30%;
}

a:hover {
    color: red;
}
.div {
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

.linkki {
    font-size: 12px;
    color: white;
    background-color: thistle;
    border: 2px solid white;
    padding: 3px;
    margin: 2px;
    border-radius: 15px; 
}
ol {
    list-style-type: lower-alpha;
}
ul {
    list-style-type: square;
}

img {
    background-color: thistle;
    border: 2px solid white;
    padding: 5px;
    margin: 2px;
    border-radius: 20px;
}
figure {
    width: 45%;
}
figcaption {
    font-size: 12px;
    color: white;
    background-color: thistle;
    border: 2px solid white;
    padding: 2px;
    border-radius: 15px;
}
#mittari {
    background-color: thistle;
    border: 2px solid white;
    padding: 10px 10px 10px 10px;
    margin: 2px 2px 2px 40px;
}

header {
    float: top;
    padding: 20px;
    background-color: teal;
    border: 2px solid white;
}

nav {
    float: top;
    padding: 20px;
    background-color: teal;
    border: solid white;
    border-width: 0px 2px 0px 2px;
}

section {
    background-color: teal;
    border: 2px solid white;
    padding: 20px;
    
}

footer {
    float: bottom;
    background-color: teal;
    border: solid white;
    border-width: 0px 2px 2px 2px;
    text-align: center;
}

#left {
    float:left;
    width: 10%;
    padding: 20px 26px 20px 20px;
    border: 2px solid white;
    background-color: teal;
    height: 500px;
}

nav ul { list-style-type: none; }
nav a { text-decoration: none; }


#right {
    position: relative; 
    float:right;
    width: 85%;
    padding: 20px;
    background-color: teal;
    border: 2px solid white;
    height: 500px;
    
}

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  
