body {
    background-color: black;
    color: white;
  }
h1 {
    font-size: 20px;
    position: absolute;
    top: 2;
}
p {
    font-size: 12px;
    color: green;
}
.div {
    border: 2px dotted;
    width: 100px;
    height: 100px;
}
#linkit {
    position: absolute;
    top: 0;
    left: 0;
}
ol {
    list-style-type: lower-alpha;
}
ul {
    list-style-type: square;
}